#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

a {
  text-decoration: none;
}

.loginSummary {
  display: none;
}

h1 {
  text-transform: uppercase;
}

.header {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
}

.headerRight {

  display: flex;
  gap: 15px;

  a {
    color: black;
    text-transform: uppercase;

    &:hover {

      color: blue;
      text-decoration: underline;
    }

  }
}

.formSection {
  display: flex;
  align-items: center;
  justify-content: center;

}

.formElements {
  display: flex;
  flex-direction: column;
  gap: 20px;

  div {
    display: flex;
    gap: 20px;
  }
}

.summaryLogin {

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;

  h5 {

    text-align: left;
  }

  a {
    padding: 10px 15px;
    background-color: rgb(96, 128, 156);
    color: #fff;
    border-radius: 5px;
  }
}